.navbar-fixed-left {
  width: 140px;
  position: fixed;
  border-radius: 0;
  height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 139px;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -50px;
  margin-left: 140px;
}

.table td {
	text-align: center;   
}

.table td[align^="left"] {
	text-align: left;
}
.table td[status^="+"] {
    background: #D1F4B9;
}
.table td[status^="-"] {
	background: #F7D8CF;
}

.table tbody tr > td.success {
  background-color: #dff0d8 !important;
}

.padding-left {
	padding-left: 50px !important;
}