{% extends "bootstrap/base.html" %}
{% block title %}Standings{% endblock %}

{% block styles %}
{{super()}}
	<link rel="stylesheet" href="/pcms_standings{{url_for('.static', filename='styles.css')}}">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse navbar-fixed-left" style="max-height: 1000px; overflow: hidden; overflow-y: auto;">
  <a class="navbar-brand" href="/pcms_standings">Результаты</a>
  <ul class="nav navbar-nav">
		<li><a href="/pcms_standings/submissions">Посылки</a></li>
		<li><a href="/pcms_standings/analytics">Аналитика</a></li>
	{% for file in files %}
		<li><a class="mini" href="/pcms_standings/showtable/{{file['path']}}"> {{ file["name"] }} </a></li>
	{% endfor %}
  </ul>
</div>
{% endblock %}



 {% block content %}
	<div class="container">
	
	{% if standings is not none %}
		  <!-- Default panel contents -->
		<h1>{{standings.contest.name}}</h1>

		<div class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			Группа
			<span class="caret"></span>
			</button>
		  	<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
		  		<li><a class="group-selector" group="all">Все</a></li>
		  	{% for group in groups %}
		  		<li><a class="group-selector" group="gr{{group}}">Группа {{group}}</a></li>
		  	{% endfor %}
		  	</ul>
		</div>
		<br/>
		 <div class="panel panel-default">
		  <!-- Table -->
		  <table class="table table-striped">
			<thead>
				<td>№</td>
				<td>Ф.И.О</td>
				<td><b>сумма</b></td>
				{% for problem in standings.contest.problems %}
					<td><span title="{{ problem.name }}">{{ problem.alias }}</span></td>
				{% endfor %}
			</thead>
				{% set i = 1%}
			  {% for session in standings.contest.sessions %}
				<tr class="{{session.group}}">
					<td>{{ i }}</td>
					{% set i = i + 1%}
					<td align="left">{{ session.username }}</td>
					<td><b>{{ session.solved }}</b></td>
					{% for problem in session.submitted_problems %}
						<td status="{{ problem.status }}">{{ problem.status }}</td>
					{% endfor %}
				</tr>
			  {% endfor %}
		   </table>
		  </div>

	{% elif totalStandings is not none %}
		<h1>Итоговая таблица</h1>
		<a href="/pcms_standings/refresh" type="button" class="btn btn-default" style="margin-bottom:5px;">Обновить таблицу</a>
		<div class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			Группа
			<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				<li><a class="group-selector" group="all">Все</a></li>
			{% for group in groups %}
				<li><a class="group-selector" group="gr{{group}}">Группа {{group}}</a></li>
			{% endfor %}
			</ul>
		</div>
		<br/>
		<div class="panel panel-default">
			<table class="table table-striped">
				<thead>
					<td>№</td>
					<td>Ф.И.О</td>
					<td><b>сумма</b></td>
					{% for table in totalStandings.tables %}
						<td>{{ table.contest.name }}</td>
					{% endfor %}
				</thead>
				{% set i = 1%}
				{% for participant in totalStandings.participants %}
					<tr class="{{participant.group}}">
						<td>{{ i }}</td>
						{% set i = i + 1%}
						<td align="left"><a href="/pcms_standings/submissions?group={{participant.name}}" title="Посмотреть посылки">{{ participant.name }}</a></td>
						<td><b>{{ participant.solved }}</b></td>
						{% for table in totalStandings.tables %}
							<td>{{ participant.contestSolvedMap[table.contest.name] if table.contest.name in participant.contestSolvedMap else 0 }}</td>
						{% endfor %}
					</tr>
				{% endfor %}
			</table>
		</div>
	{% else %}
		<h1>Результаты контестов</h1>
		<div class="alert alert-info" role="alert">
			Выберите констест в меню слева.
		</div>
	{% endif %}
	</div>
{% endblock %}


{% block scripts %}
	{{super()}}
	<script src="/pcms_standings{{url_for('.static', filename='standings.js')}}"></script>
{% endblock %}


